.homePageLayoutWrapper {
  //   position: absolute;
  //   width: 100vw;
  //   min-height: 100vh;
  //   display: flex;
  //   justify-content: center;
  // align-items: center;
  overflow-x: hidden;
  max-width: 100vw;

}

.homePageLayout {
  width: 1920px;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}